@charset "utf-8";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$header-image: "./img/als-hero.jpg";
$contact-image: "./img/contact.png";

$primary: #235FA3;
$white: #fff;
$black: #000;
$input-height:calc(#{$input-height-inner} + #{$input-height-border});

$spacer:1rem;
$border-width:3px;
$border-radius:0;
$enable-rounded: false;
$enable-shadows:false;
$enable-gradients:false;

@import "bootstrap/scss/bootstrap";
@import "bootstrap";

@import "base/variables.scss";
@import "base/mixins.scss";
@import "base/page.scss";

@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

@import "layout/about.scss";
@import "layout/clients.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
@import "layout/masthead.scss";
@import "layout/portfolio.scss";
@import "layout/services.scss";
@import "layout/team.scss";
@import "layout/testimonials.scss";
@import "layout/textblock-lite.scss";
@import "layout/textblock.scss";
@import "layout/two-block.scss";

body {
    overflow-x: hidden;
    font-family: 'Barlow', cursive,sans-serif,"Helvetica Neue",Helvetica,Arial,sans-serif;
    webkit-tap-highlight-color: $primary;
}

.container {
  max-width: 1000px; // Adjust as needed
  margin: 0 auto; // Centers the content
  padding: 0 20px; // Adds some spacing on smaller screens
}

.post {
    max-width: 750px;
    margin-top: 150px;
}

/* Barlow CSS classes */
.barlow-thin {
  font-family: "Barlow", serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-extralight {
  font-family: "Barlow", serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight-italic {
  font-family: "Barlow", serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light-italic {
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: "Barlow", serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: "Barlow", serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold-italic {
  font-family: "Barlow", serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold-italic {
  font-family: "Barlow", serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black-italic {
  font-family: "Barlow", serif;
  font-weight: 900;
  font-style: italic;
}
  
  /* Bebas Neue CSS class */
  .bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
