<!-- Clients -->
<section class="bg-light py-5" id="{{ site.data.sitetext.clients.section | default: "clients" }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading text-uppercase" style="font-size: 4rem; color: #000; text-align: left; text-transform: uppercase; margin-left: 0;">
          {{ site.data.sitetext.clients.title | default: 'OUR PARTNERS' }}
        </h1>


        {% if site.data.sitetext.clients.text %}
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.clients.text }}</h3>
        {% endif %}
      </div>
    </div>

    <!-- Client Logos -->
    <div class="row justify-content-center">
      {% for client in site.data.sitetext.clients.list %}
        <div class="col-lg-4 col-md-6 col-12 d-flex justify-content-center align-items-center my-3">
          <a href="{{ client.url }}" class="h-100">
            <img class="img-fluid d-block mx-auto" src="{{ client.logo }}" alt="{{ client.title }}" 
              style="max-height: {{ site.data.sitetext.clients.max-height | default: "100px" }};">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
