<!-- Contact Section -->
<section class="page-section contact-section" id="{{ site.data.sitetext.contact.section | default: "contact" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">


        <img src="/assets/img/buddies/contact.png" alt="Contact Icon" class="contact-icon">

        <!-- Section Title -->

        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.contact.title | markdownify | default: "Contact Us" }}</h2>

        <!-- Section Subtitle -->
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.contact.text | default: "" }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">


        <!-- Contact Form -->
        <div class="container">
          <div class="block left block1-text">
            <ul style="list-style-type: none; padding: 0;">
              <li>
                <div class="icon">
                  <a href="tel:+27681633991"><img src="/assets/img/buddies/call.png" alt="Call"></a>
                </div>
                <div class="text">
                  <a href="tel:+27681633991">+27 68 163 3991</a>
                </div>
              </li>
              <li>
                <div class="icon">
                  <a href="mailto:hello@bondbuddies.co.za"><img src="/assets/img/buddies/email.png?Subject=Query from Apex Leadership Website" alt="Email"></a>
                </div>
                <div class="text">
                  <a href="mailto:hello@bondbuddies.co.za">hello@bondbuddies.co.za</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="block block1-text">
            <p>Discover BondBuddies—where efficiency meets virtual convenience!</p>
            <p>We're proudly digital-first, with our 'office' wherever our team roams, from cozy home offices to buzzing
              coffee shops. There are no traditional storefronts here, but our virtual doors are wide open to serve you!
            </p>
            <p>Think of us as your online bond concierge, ready to assist anytime, anywhere.</p>
            <p>Embrace the future of work with us, making your bond journey seamless and enjoyable.</p>
            <p>Let's bond, virtually</p>
          </div>
        </div>

      </div>
</section>
<!-- End Contact Section -->