<div class="bg-light min-vh-100">


<section class="team-section" id="{{ site.data.sitetext.team.section | default: 'team' }}">

    <h1 class="section-heading">
		{{ site.data.sitetext.team.title | default: 'Meet the Coaches' }}
	</h1>
  
		{% if site.data.sitetext.team.text %}
			<p>{{ site.data.sitetext.team.text }}</p>
		{% endif %}
  
		{% for person in site.data.sitetext.team.people %}
		<div class="team-member">
			
			<!-- Image with Overlay -->
			<div class="team-member-image-wrapper">
			<img src="{{ person.image | default: '/path/to/default.jpg' }}" alt="{{ person.name }}" class="team-image">
			<div class="overlay">
				<span class="overlay-text">{{ person.name }}</span>
			</div>
			</div>
  
		<!-- Team Member Details -->
		<div class="team-details">
		  <h4>{{ person.name }}</h4>
		  <p class="team-role">{{ person.role }}</p>
  
		  {% if person.focus %}
			<h5>Focus Areas</h5>
			<p>{{ person.focus }}</p>
		  {% endif %}
  
		  {% if person.qualifications %}
			<h5>Qualifications and Experience</h5>
			<ul>
			  {% for qualification in person.qualifications %}
				<li>{{ qualification }}</li>
			  {% endfor %}
			</ul>
		  {% endif %}
  
		  {% if person.social %}
			<div class="social-links">
			  {% for social in person.social %}
				<a href="{{ social.url }}" target="_blank" rel="noopener noreferrer">{{ social.platform }}</a>
			  {% endfor %}
			</div>
		  {% endif %}
		</div>
  
	  </div>
	{% endfor %}
	
        <!-- Contact Button -->
        <div class="d-flex justify-content-center mt-4">
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/contact">Contact Us</a>
          </div>
</section>

</div>

  