<!-- Team Section -->
<section class="page-section" id="{{ site.data.sitetext.team.section | default: 'team' }}">
	<section class="bg-light page-section">
	  <div class="container team-section">
		<div class="row text-center">
		  <div class="col-12">
			<!-- TITLE -->
			<h6 class="section-heading text-uppercase" style="font-size: 4rem; text-align: left; text-transform: uppercase; margin-left: 0;">
				{{ site.data.sitetext.team.title | default: 'Text Text-Block' }}
			  </h6>

			
			{% if site.data.sitetext.team.text %}
			  <h3 class="section-subheading text-muted">{{ site.data.sitetext.team.text }}</h3>
			{% endif %}
		  </div>
		</div>
		<div class="team-members">
		  {% for person in site.data.sitetext.team.people %}
			<div class="team-member mb-4 d-flex flex-column flex-md-row align-items-start">
			  <!-- Left Column: Image -->
			  <div class="team-member-image-wrapper">
				<img class="team-image" src="{{ person.image }}" alt="{{ person.name }}">
				<div class="overlay">
				  <div class="overlay-text">{{ person.name }}</div>
				</div>
			  </div>
  
			  <!-- Right Column: Text -->
			  <div class="team-details">
				<h4>{{ person.name }}</h4>
				<p>{{ person.role }}</p>
  
				{% if person.social %}
				  <ul class="social-links list-inline">
					{% for social in person.social %}
					  <li class="list-inline-item">
						<a href="{{ social.url }}" target="_blank" aria-label="Social link for {{ social.icon }}">
						  <i class="{{ social.icon }}"></i>
						</a>
					  </li>
					{% endfor %}
				  </ul>
				{% endif %}
  
				<!-- Focus Areas -->
				<h5>Focus Areas</h5>
				<p>{{ person.focus }}</p>
  
				<!-- Qualifications and Experience -->
				<h5>Qualifications and Experience</h5>
				<ul class="qualifications">
				  {% for qualification in person.qualifications %}
					<li>{{ qualification }}</li>
				  {% endfor %}
				</ul>
			  </div>
			</div>
			<hr class="bg-white">
		  {% endfor %}
		</div>
	  </div>
	</section>
  </section>