<!-- Testimonials -->
<section class="testimonials-section-wrapper" id="{{ site.data.sitetext.testimonials.section | default: 'testimonials' }}">
  <div class="testimonials-section container py-5">
    <div class="row">
      <div class="col-lg-12 text-center mb-5">
        <h1 class="section-heading text-uppercase">{{ site.data.sitetext.testimonials.title | default: 'Testimonials' }}</h1>
        <h3 class="section-subheading">{{ site.data.sitetext.testimonials.text }}</h3>
      </div>
    </div>
    <div class="row">
      {% for person in site.data.sitetext.testimonials.people %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="testimonial-card">
            <div class="testimonial-body">
              <h4 class="testimonial-name">{{ person.name }}</h4>
              <h3 class="testimonial-company">{{ person.company }}</h3>
              <p class="testimonial-text">
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                "{{ person.testimony }}"
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Testimonials -->
