<!-- Text-Block |  What We Do-->
<section class="textblock-section" id="{{ site.data.sitetext.textblock.section | default: 'textblock' }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- MAIN TITLE -->
        <h1 class="section-heading">
          {{ site.data.sitetext.textblock.title | default: 'Text Text-Block' }}
        </h1>
        <!-- BULLET HEADINGS -->
        {% if site.data.sitetext.textblock.text %}
        <h3 class="textblock-subheading">
          {{ site.data.sitetext.textblock.text }}
        </h3>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="container textblock-heading">
          {% for textblock in site.data.sitetext.textblock.list %}
          <div class="row">
            {% if textblock.image %}
            <div class="textblock-image col-1 text-top">
              <i class="fas {{textblock.image}} fa-1x"></i>
            </div>
            {% endif %}
            <div class="textblock-title col align-items-center">
              <strong>{{ textblock.title }}</strong>
              {% if textblock.description %}
                <p>{{ textblock.description }}</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% if site.data.sitetext.textblock.footer %}
        <div class="text-muted">
          {{ site.data.sitetext.textblock.footer | markdownify }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- End Text-Block -->
