<!-- Text-Block |  What We Do-->

<section class="textblock-section" id="{{ site.data.sitetext.textblock.section | default: 'textblock' }}">
  <div class="container">
    <!-- Header -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading ">
          {{ site.data.sitetext.textblock.title | default: 'Text Text-Block' }}
        </h1>
        {% if site.data.sitetext.textblock.text %}
        <h3 class="textblock-subheading">
          {{ site.data.sitetext.textblock.text }}
        </h3>
        {% endif %}
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      <div class="col-lg-12">
        <div class="textblock-container">
          {% for textblock in site.data.sitetext.textblock.list %}
          <div class="textblock-item large">
            {% if textblock.image %}
            <div class="textblock-icon">
              <i class="fas {{textblock.image}}"></i>
            </div>
            {% endif %}
            <div class="textblock-content large">
              <strong>{{ textblock.title }}</strong>
              {% if textblock.description %}
              <p>{{ textblock.description }}</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% if site.data.sitetext.textblock.footer %}
        <div class="large">
          {{ site.data.sitetext.textblock.footer | markdownify }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>