<!-- SCARF ASSESSMENT -->
<section class="textblock-lite-section py-5" id="{{ site.data.sitetext.section }}">

    <div class="textblock-lite">
        <div class="container">
            <h1 class="section-heading">{{ site.data.sitetext.textblock-lite.title }}</h1>
            <p>{{ site.data.sitetext.textblock-lite.description }}</p>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="p-3">
                        <img src="{{ site.data.sitetext.textblock-lite.image }}" 
                             alt="SCARF Assessment Image" 
                             style="max-width: 100%; height: auto;">
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-8 mb-4">
                    <p>{{ site.data.sitetext.textblock-lite.welcome_text }}</p>
                    <p>{{ site.data.sitetext.textblock-lite.details }}</p>

                    <ul>
                        {% for benefit in site.data.sitetext.textblock-lite.benefits %}
                        <li>{{ benefit }}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ site.data.sitetext.textblock-lite.instructions }}</p>
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" 
                       target="_blank" 
                       href="{{ site.data.sitetext.scarf_assessment.button_link }}">
                        {{ site.data.sitetext.textblock-lite.button_text }}
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>