<!-- Two Block Enneagram and ComenSA -->
<section class="two-block-section py-5" id="{{ site.data.sitetext.two-block.section | default: 'two-block' }}">
  <div class="two-block-section container py-5">
    <div class="row">
      <div class="col-lg-12 text-center mb-5">
        <h1 class="section-heading text-uppercase">OUR METHODOLOGIES</h1>
      </div>
    </div>
    
    <!-- Row with two columns -->
    <div class="row">
      <!-- Column 1 -->
      <div class="col-md-6">
        <div class="two-block-card">
          <img src="/assets/img/textblock/5-Lenses-Enneagram.png" class="card-img-top" alt="5-Lenses-Enneagram">
          <div class="card-body">
            <p>{{ site.data.sitetext.two-block.left-box-text | default: '' }}</p>
          </div>
        </div>
      </div>
      
      <!-- Column 2 -->
      <div class="col-md-6">
        <div class="two-block-card">
          <img src="/assets/img/textblock/ComenSA-Logo.png" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <p>{{ site.data.sitetext.two-block.right-box-text | default: '' }}</p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Contact Button -->
    <div class="d-flex justify-content-center mt-4">
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/contact">Contact Us</a>
    </div>
  </div>
</section>
<!-- End Two Block -->
