<section class="page-section py-5">
    <div class="container">
      <div class="row">
        <!-- Column 1 -->
        <div class="col-md-6">
          <div class="card">
            <img src="/assets/img/textblock/5-Lenses-Enneagram.png" class="card-img-top" alt="5-Lenses-Enneagram">
            <div class="card-body">
              <p>My partnership with Comensa enhances my credibility and provides access to a wider network of clients. Together with Comensa, we empower individuals and organizations to achieve their full potential.

              </p>
            </div>
          </div>
        </div>
        
        <!-- Column 2 -->
        <div class="col-md-6">
          <div class="card">
            <img src="/assets/img/textblock/ComenSA-Logo.png" class="card-img-top" alt="Image 2">
            <div class="card-body">
              <p>Leveraging the 5 Lens Enneagram, a data-driven assessment tool, I provide personalized coaching that accelerates leadership development.</p>
            </div>
          </div>
        </div>
      </div>
  
      
    <!-- Contact Button -->
    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/contact">Contact Us</a>
      </div>
    </div>
  </section>
  