// Font Mixins
@mixin serif-font {
  font-family: 'Barlow', serif;
}

@mixin script-font {
  font-family: 'Barlow', serif; /* Or you can specify a script font if desired */
}

@mixin body-font {
  font-family: 'Barlow', serif;
}

@mixin heading-font {
  font-family: 'Barlow', cursive, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;  // Example of bold, adjust as needed
}