// Global styling for this template
body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

p {
  line-height: 1.618; // Golden ratio for line height
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h4,
h5,
h6 {
  font-weight: 900;
  @include heading-font;
  text-align: left; /* Set all headers to be left-aligned */
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection,
img::-moz-selection {
  background: transparent;
}

section {
  // padding: 40px 0;
  //margin: 40px 0;  /* Add margin above and below each section */
}

.page-section {
  // padding: 40px 0;
  //margin: 40px 0;  /* Add margin above and below each section */
}

.page-section p {
  line-height: 1.6;  /* Adjust line-height to improve text spacing */
}

// Media Queries
@media screen and (max-width: 640px) {
  h1,
  h2 {
    font-size: 45px;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: calc(20px * 1.618); /* Golden ratio applied to font size */
  }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  h1,
  h2 {
    font-size: 50px; // Increased font size for golden ratio
  }

  h3 {
    font-weight: 400;
    font-size: 20px; // Increased font size for golden ratio
    padding-bottom: calc(20px * 1.618); /* Golden ratio applied to font size */
  }
}

@media screen and (min-width: 1025px) {
  h1,
  h2 {
    font-size: 70px; // Increased font size for golden ratio
  }

  h3 {
    font-weight: 400;
    font-size: 20px; // Increased font size for golden ratio
    padding-bottom: calc(20px * 1.618); /* Golden ratio applied to font size */
  }
}
