/* Clients Section */
.clients-section {
  .clients-wrap {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
  }

  .client-logo {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    background: #fff;
    height: 100px;

    img {
      height: 60%;
      filter: grayscale(60%);
      transition: all 0.4s ease-in-out;
    }

    &:hover {
      img {
        filter: none;
        transform: scale(1.3);
      }
    }
  }
}