/* Clients Section */
.clients-section {
  text-align: center;

  .section-heading {
    text-align: center;
    font-size: clamp(2rem, 8vw, 5rem);
    color: #4A5454;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .clients-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
  }

  .col-lg-4, .col-md-4, .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .client-logo {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #fff;
    height: 100px;
    width: 100%; // Ensures it fills the column container properly
    overflow: hidden;

    img {
      height: 60%;
      filter: grayscale(80%);
      transition: all 0.6s ease-in-out;
    }

    &:hover img {
      filter: none;
      transform: scale(1.2);
    }
  }
}
