
$white: #ffffff; // You can replace this with any color you prefer

/* Styling for the contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-heading {
    text-align: center;
    font-size: clamp(2rem, 8vw, 5rem);
    color: #9DCEE7;
    text-transform: uppercase;
    font-weight: 700;
    //margin-bottom: 1rem;
  }

  .section-subheading {
    color: #4A5454;
    margin-top: 0.618em; /* Golden ratio */
    font-size: 1.25rem;
  }

  .form-group {
    margin-bottom: 25px;

    input, textarea {
      padding: 20px;
      font-size: 1rem;
      
      &.form-control {
        width: 100%;
        border: 1px solid $gray-400;
        border-radius: 4px;
        transition: border-color 0.3s ease;
        
        &::placeholder {
          font-weight: 700;
          color: $gray-400;
          @include heading-font;
        }
      }

      &.form-control.textarea {
        height: 248px;
      }

      .form-control:focus {
        border-color: $primary;
        box-shadow: none;
      }
    }
  }

  .btn-primary {
    padding: 12px 25px;
    background-color: $primary;
    color: $white;
    font-size: 1.1rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .section-heading {
    margin-bottom: 0.5em;
    text-align: left;
    font-size: 2rem;
  }

  .section-subheading {
    margin-top: 0.5em;
  }

  .form-group {
    margin-bottom: 15px;

    input, textarea {
      padding: 15px;
    }

    .form-control.textarea {
      height: 200px;
    }
  }
}
