/* Styling for the contact section */
section#contact {
  background: url("#{$contact-image}") center/cover no-repeat $gray-900;
  .section-heading {
    text-align: left; /* Left align */
    color: $white;
    margin-bottom: 0.618em; /* Golden ratio */
  }
  .section-subheading {
    color: $white;
    margin-top: 0.618em; /* Golden ratio */
  }
  .form-group {
    margin-bottom: 25px;
    input, textarea {
      padding: 20px;
      &.form-control {
        height: auto;
        &::placeholder {
          font-weight: 700;
          color: $gray-400;
          @include heading-font;
        }
      }
      &.form-control.textarea {
        height: 248px;
      }
    }
    .form-control:focus {
      border-color: $primary;
      box-shadow: none;
    }
  }
}

/* Media Queries */
@media (max-width: 768px) {
  /* Adjusted line spacing for smaller screens */
  section#contact .section-heading {
    margin-bottom: 0.5em;
    text-align: left; /* Left align */
  }

  section#contact .section-subheading {
    margin-top: 0.5em;
  }

  section#contact .form-group {
    margin-bottom: 15px;
    input, textarea {
      padding: 15px;
    }
    .form-control.textarea {
      height: 200px;
    }
  }
}

.block.left .icon,
.block.left .text {
  display: inline-block;
  vertical-align: top;
    padding: 3px 3px;
}

.icon {
  padding: 3px;
}

.icon img {
  height: 45px;
  width: auto;
}

.contact-text {
  font-size: 17px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;
}

.block {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.block.left {
  display: flex;
  flex-direction: row; /* Ensure items are aligned horizontally */
  align-items: baseline; /* Align items based on their baselines */
  justify-content: center; /* Align items horizontally */
  text-align: left;
}

.block.left .icon {
  margin-right: 8px;
}

.block.left .text {
  text-align: center;
}

.block.left .text a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.block.left ul li {
  display: flex;
  align-items: center;
  justify-content: left; /* Align items horizontally */
}

@media (max-width: 768px) {
  .block {
    width: 100%;
  }
}
