// Variables
$header-image: url("#{$header-image}");

// Styling for the masthead
header.masthead {
  //margin-top: 60px;
  position: relative;
  text-align: left;
  color: white;
  overflow: hidden; // Hide overflow to prevent image distortion
  //padding: 5px 0; // Adjusted padding for better spacing

  // Pseudo-element to maintain aspect ratio
  &:before {
    content: "";
    display: block;
    padding-top: calc(533 / 1600 * 100%); // Aspect ratio (533px / 1600px)
  }

  // Actual image styling
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: $header-image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
  }

  // Responsive styles
  @media (max-width: 988px) {
    margin-top: 60px;
    padding: 10px 15px; // Adjust padding for smaller screens
  }

  @media (max-width: 768px) {
    margin-top: 64px;
    padding: 10px 15px; // Adjust padding for smaller screens
  }

  @media (max-width: 576px) {
    margin-top: 64px;
    padding: 10px 15px; // Adjust padding for smaller screens
  }
}
