.testimonials-section-wrapper {
  background-image: url('/assets/footer.png');
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
}

.testimonials-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 10px;
  position: relative;
  color: rgb(255, 0, 0);

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 10px;
  }
}

.testimonials-section .section-heading {
  text-align: center !important;
  margin-left: 0 !important;
  margin-right: auto !important;
  font-size: clamp(2rem, 8vw, 5rem);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.testimonials-section .section-subheading {
  font-size: clamp(1.1rem, 2vw, 1.25rem);
  color: #ffffff;
  //margin-block-end: 40px;
  position: relative;
  z-index: 2;
}

.testimonials-section .testimonial-card {
  --card-padding: clamp(20px, 3vw, 30px);
  background-color: rgba(255, 255, 255, 0.158);
  border-radius: 10px;
  padding: var(--card-padding);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 2;
}

.testimonials-section .testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.testimonials-section .testimonial-body {
  background-color: rgba(255, 255, 255, 0.01);
  padding: 20px;
  border-radius: 8px;
}

.testimonials-section .testimonial-name {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  font-weight: 600;
  color: #fff;
  margin-block-end: 10px;
}

.testimonials-section .testimonial-company {
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  color: #fff;
  margin-block-end: 20px;
}

.testimonials-section .testimonial-text {
  font-size: 1rem;
  font-style: italic;
  color: #fff;
}

.testimonials-section .quote-icon-left,
.testimonials-section .quote-icon-right {
  color: #f1c40f;
}
