.textblock-section {
  background-color: #8AC5E2;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .section-heading {
    color: white;
    text-align: left;
    text-transform: uppercase;
    margin-left: 0;
  }

  .textblock .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }

  .textblock-subheading {
    color: black;
    text-align: left;
  }

  .textblock-heading {
    text-align: left;
    color: black;

    .row {
      display: flex;
      align-items: center;
      margin: 0; // Reset any default row margins
    }

    .textblock-image {
      padding: 0.25rem;
      text-align: center;
    }

    .textblock-title {
      text-align: left;
      color: black;
      margin-left: 0; // Ensure no indentation on the left side

      strong {
        font-weight: bold;
      }

      p {
        margin-top: 0.5rem;
      }
    }
  }

  .text-muted {
    color: black;
    text-align: center;
    width: 100%;
  }
}
