.two-block-section {
  background-color: #fff;
  padding: 4rem 2rem;
  isolation: isolate; /* Prevents stacking context issues */
}

.two-block-section .section-heading {
  text-align: left !important;
  margin-left: 0 !important;
  margin-right: auto !important;
  font-size: clamp(2rem, 8vw, 5rem);
  color: #235fa3;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.two-block-section .two-block-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(255, 255, 255, 0.125);

  img {
    max-height: 200px;
    width: auto; // Ensures aspect ratio is maintained
    object-fit: contain; // Ensures the whole image is visible
  }
}
